In [39]:
import pandas as pd

In [40]:
import numpy as np

In [41]:
import glob

In [42]:
path = "/Users/salv/Documents/salida_WRF/UNAM/"

In [43]:
filelist=glob.glob(path+'InCites*.csv')      
filenames=[]

In [44]:
for sfile in filelist:
    filenames.append(sfile.split('/')[-1])

In [45]:
filenames

['InCites People(Chemistry).csv',
 'InCites People ( Geosciences).csv',
 'InCites People( Mathematics).csv',
 'InCites People( Psychiatry_Psycology).csv',
 'InCites People(Biology &Biochemistry).csv',
 'InCites People ( Pharmacology &Toxicology).csv',
 'InCites People (Engineering).csv',
 'InCites People (Multidisciplinary).csv',
 'InCites People( Environment_Ecology).csv',
 'InCites People( Inmunology).csv',
 'InCites People ( Space Science).csv',
 'InCites People ( Economics & Business).csv',
 'InCites People ( Molecular Biology &Genetics).csv',
 'InCites People ( Neuroscience & Behavior).csv',
 'InCites People( Agriculture).csv',
 'InCites People( Computer Science).csv',
 'InCites People(Plant and Animal Science).csv',
 'InCites People (Social Science).csv',
 'InCites People(Physics).csv',
 'InCites People(Clinical Medicine).csv',
 'InCites People ( Microbiology).csv',
 'InCites People (Material Science).csv']

In [47]:
area = []
for filename in filenames:
    area.append(filename.split('(')[-1].split(')')[0])
area

['Chemistry',
 ' Geosciences',
 ' Mathematics',
 ' Psychiatry_Psycology',
 'Biology &Biochemistry',
 ' Pharmacology &Toxicology',
 'Engineering',
 'Multidisciplinary',
 ' Environment_Ecology',
 ' Inmunology',
 ' Space Science',
 ' Economics & Business',
 ' Molecular Biology &Genetics',
 ' Neuroscience & Behavior',
 ' Agriculture',
 ' Computer Science',
 'Plant and Animal Science',
 'Social Science',
 'Physics',
 'Clinical Medicine',
 ' Microbiology',
 'Material Science']

In [48]:
frames = []
for i,nombrearchivo in enumerate(filenames):
    data1 = pd.read_csv(nombrearchivo)
    data1 = data1[0:-8]
    data1["Area"] = np.array([area[i]]*data1.shape[0])
    frames.append(data1)
result = pd.concat(frames, sort = False)

In [49]:
result.to_csv('cientificosunam.csv')

In [50]:
result.head()

,Name,Rank,Affiliation,Web of Science Documents,% Docs Cited,Times Cited,Category Normalized Citation Impact,Area
0,"Flores-Alamo, Marcos",1.0,Universidad Nacional Autonoma de Mexico,121.0,76.033058,652.0,0.488663,Chemistry
1,"Martinez, ANA",2.0,Universidad Nacional Autonoma de Mexico,80.0,91.250000,1064.0,0.964554,Chemistry
2,"Farfan, Norberto",3.0,Universidad Nacional Autonoma de Mexico,78.0,82.051282,808.0,0.786392,Chemistry
3,"Hernandez-Ortega, Simon",4.0,Universidad Nacional Autonoma de Mexico,71.0,76.056338,352.0,0.435687,Chemistry
4,"Pfeiffer, Heriberto",5.0,Universidad Nacional Autonoma de Mexico,68.0,86.764706,1087.0,1.142453,Chemistry

In [51]:
newresult = result[['Name', 'Area']].copy()

In [52]:
newresult.to_csv('cientificosunamII.csv')

In [53]:
newresult.tail()

                                    Name              Area
2025                      Trejo-Luna, R.  Material Science
2026               Solis-Cambero, Ana L.  Material Science
2027                  Mendoza, Carlos I.  Material Science
2028            Flores, Argelia Almaguer  Material Science
2029  Alberto Rodriguez-Guadarrama, Luis  Material Science